* {
    margin: 0;
    padding: 0;
}

/*版心*/
.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.header {
    height: 42px;
    background-color: pink;
    /*注意会层叠 .w 中的margin*/
    margin: 30px auto;
}

.log {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
